*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
font-family: 'Varela Round', sans-serif;
}

header {
    display: flex;
    margin: auto;
}

.logo-container {
    text-decoration-color:#63EEFF;
    flex: 1;
    font-size: 250%;
    align-items:center;

  
}

/* ------feedback css ----------- */
.boxcontrol{
    display: flex;
    
}
.logohome{
   text-align: center;
   padding-top: 50px;
   background-color: beige;
}
.mylogoo{
    height: 200px;
    width: 200px;
    padding-left: 30px;

   
}

.feedbackform{
    padding-top: 50px;
    padding-left: 30px;
    background-color: burlywood;
    left: 50px;

}








