*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
font-family: 'Varela Round', sans-serif;
}

header {
    display: flex;
    margin: auto;
}

.logo-container {
    text-decoration-color:#63EEFF;
    flex: 1;
    font-size: 250%;
    align-items:center;

  
}

/* ------feedback css ----------- */
.boxcontrol{
    display: flex;
    justify-content: center;
}








