*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
font-family: 'Varela Round', sans-serif;
}

header {
    display: flex;
    margin: auto;
}

.logo-container {
    text-decoration-color:#63EEFF;
    flex: 1;
    font-size: 250%;
    align-items:center;

  
}

/* ------feedback css ----------- */
form{
    left: 100px;
}
.boxcontainer{
  display: flex;
  background-color:thistle;
}

.box1{
background-color: wheat;
left: 90px;
}

.box2 {
 width: 900px;
 left: 100px;
}
.containerformfeedback {
    border-radius: 5px;
    background-color: #f2f2f2;
   
}
.feedbackform{
    text-align: center;
    padding-top: 43px;
}



* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.col-25 {
    float: left;
    margin-top: 16px;
    padding: 20px;
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
    left: 30px;
    padding: 20px;
}

/* Clear floats after the columns */
.sumitbutton:after {
    content: "";
    display: table;
    clear: both;
}
.sumitbutton {
  padding-right: 400px;
}






